/* ===================================== Welcome_Page-CSS ================================= */
.container {
  max-width: 90%;
  margin-left:auto;
  margin-right: auto;
  background: #04030f;
}
.welcomeHead {
  font-family: Colfax;
  line-height: 23px;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.942857px;
  text-transform: uppercase;
  color: white;
}
.optionFlex {
  display: flex;
  margin-top:5%;
}
.optionFlex p{
  text-align: center;
}
.optionBox1{
  flex: 1;
  display: flex;
  justify-content:flex-end;
}
.optionBox1 div{
  width: 318px;
  height: 63px;
  margin-right: 36px;
  background-image: url("/img/optionBox.png");

}
.optionBox2{
  flex: 1;
  display: flex;
  justify-content:flex-start;
}
.optionBox2 div{
  width: 370px;
  height: 63px;
  margin-left: 36px;
  background-image: url("/img/optionBox2.png");

}
.optionText {
  font-family: Colfax Regular;
  font-size: 22px;
  line-height: 23px;
  text-transform: uppercase;
  color: #ffffff;
}

